/* tag generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* tag del body */

#container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

/* tag hader */

h1 {
    font-size: 2.5rem;
}

/* tag main */

main .row {
    display: flex;
    justify-content: space-evenly;
}

/* tag footer */

footer {
    margin-top: 50px;
}